---
import Icon from './Icon.astro';
import { site, booking } from '@data/site';
---
<div class="mobile-call" data-live-actions>
  <a class="btn btn-call" href={site.phone.href} data-cta="call">
    <Icon name="phone" size={16} class="i" />Call
  </a>
  <a
    class="btn btn-ghost"
    href={booking.href}
    data-cta="book"
    target={booking.external ? '_blank' : undefined}
    rel={booking.external ? 'noopener' : undefined}
  >
    <Icon name="calendar" size={16} class="i" />Book
  </a>
</div>
